#airbnb-logo {
  height: 30px;
  margin-right: 950px;
}

#avatar-img {
  height: 20px;
}

.results {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}
.result-card {
  width: 200px;
}

.result-card img {
  width: 100%;
}

loginpagebackground {
  background-image: url();
  background-size: cover;
}
